In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv('sample.csv')

In [28]:
cols = list(df.columns.values)
cols.remove("date_mutation")
df[cols]

,id_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1203354,2,Vente,3100.0,NaN,NaN,LE PRIEURE,B022,95000.0,95074,...,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,2017-1140739,1,Vente,100000.0,12.0,NaN,RUE DES TISSERANDS,0350,81800.0,81220,...,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,2017-870932,1,Vente,176200.0,46.0,NaN,RUE DE THEROUANNE,1680,62500.0,62765,...,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,2016-885548,1,Vente,180000.0,5324.0,NaN,RES LA NEUVA,A083,73270.0,73034,...,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,2016-1201902,1,Vente,13900.0,59.0,NaN,AV ROGER GUICHARD,0443,95610.0,95218,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2016-1102012,1,Vente,946.0,NaN,NaN,LE PONCELOT,B121,89380.0,89013,...,NaN,NaN,NaN,T,terres,NaN,NaN,2848.0,3.502363,47.875843
9996,2016-1176055,1,Vente,329000.0,6.0,B,ALL DU PLATEAU,0740,93340.0,93062,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.530342,48.897843
9997,2017-1229120,1,Vente,3500.0,NaN,NaN,LA MARNIERE,B339,86390.0,86120,...,NaN,NaN,NaN,J,jardins,NaN,NaN,311.0,0.957504,46.334447
9998,2017-403386,1,Vente,13500.0,NaN,NaN,ESTALENS,B017,32110.0,32390,...,NaN,NaN,NaN,T,terres,NaN,NaN,9236.0,-0.076637,43.718375
9999,2017-571050,1,Vente,138000.0,1.0,NaN,ALL DU PITEY,1387,40200.0,40184,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-1.291595,44.211026

In [29]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1203354,2016-06-23,2,Vente,3100.0,NaN,NaN,LE PRIEURE,B022,95000.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,2017-1140739,2017-05-30,1,Vente,100000.0,12.0,NaN,RUE DES TISSERANDS,0350,81800.0,...,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,2017-870932,2017-07-06,1,Vente,176200.0,46.0,NaN,RUE DE THEROUANNE,1680,62500.0,...,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,2016-885548,2016-06-02,1,Vente,180000.0,5324.0,NaN,RES LA NEUVA,A083,73270.0,...,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,2016-1201902,2016-04-14,1,Vente,13900.0,59.0,NaN,AV ROGER GUICHARD,0443,95610.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375

In [30]:
def preprocess(df_):
    #df = df_.copy()
    #df.adresse_code_voie=df.adresse_code_voie.astype(str)
    #df.code_commune=df.code_commune.astype(str)
    #df.code_departement=df.code_departement.astype(str)
    #df.numero_volume=df.numero_volume.astype(float)
    #df.lot1_numero=df.lot1_numero.astype(float)
    #df.lot2_numero=df.lot2_numero.astype(float)
    #df.lot3_numero=df.lot3_numero.astype(float)
    #df.lot4_numero=df.lot4_numero.astype(float)
    #df.lot5_numero=df.lot5_numero.astype(float)
    df.date_mutation=pd.to_datetime(df.date_mutation)

    return df

df=preprocess(df)

In [31]:
# Profiling Dataset
#my_report = sv.analyze(df)
#my_report.show_html()

In [32]:
# Suppression des colonnes inutiles

In [33]:
df.iloc[:5,20:]

,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375

In [34]:
to_drop = ["id_mutation","numero_disposition","adresse_numero","adresse_nom_voie","adresse_code_voie","code_postal",
           "adresse_suffixe","code_commune","nom_commune","code_departement","ancien_code_commune", "ancien_nom_commune",
           "id_parcelle","ancien_id_parcelle","type_local","nature_culture","nature_culture_speciale","code_nature_culture_speciale",
          "lot1_numero","lot2_numero","lot3_numero","lot4_numero","lot5_numero", "numero_volume"]

reduced_df = df.drop(to_drop, axis=1)

In [35]:
reduced_df

,date_mutation,nature_mutation,valeur_fonciere,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_surface_carrez,lot5_surface_carrez,nombre_lots,code_type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,surface_terrain,longitude,latitude
0,2016-06-23,Vente,3100.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,S,96.0,2.000901,49.023909
1,2017-05-30,Vente,100000.0,NaN,NaN,NaN,NaN,NaN,0,1.0,81.0,3.0,S,91.0,1.726600,43.822678
2,2017-07-06,Vente,176200.0,NaN,NaN,NaN,NaN,NaN,0,1.0,185.0,6.0,S,223.0,2.264436,50.748282
3,2016-06-02,Vente,180000.0,40.09,NaN,NaN,NaN,NaN,1,2.0,39.0,2.0,NaN,NaN,6.571346,45.685170
4,2016-04-14,Vente,13900.0,NaN,NaN,NaN,NaN,NaN,1,3.0,NaN,0.0,NaN,NaN,2.099404,49.031375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2016-02-11,Vente,946.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,2848.0,3.502363,47.875843
9996,2016-12-03,Vente,329000.0,NaN,NaN,NaN,NaN,NaN,1,3.0,NaN,0.0,NaN,NaN,2.530342,48.897843
9997,2017-01-26,Vente,3500.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,J,311.0,0.957504,46.334447
9998,2017-03-14,Vente,13500.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,9236.0,-0.076637,43.718375
9999,2017-02-23,Vente,138000.0,NaN,NaN,NaN,NaN,NaN,1,3.0,NaN,0.0,NaN,NaN,-1.291595,44.211026

In [36]:
# get_dummies
reduced_df = pd.get_dummies(reduced_df, columns=["code_nature_culture", "nature_mutation"])

In [37]:
# feature engineering
reduced_df["year_mutation"] = reduced_df.date_mutation.dt.year
reduced_df["code_type_local"] = 5-reduced_df.code_type_local

reduced_df = reduced_df.drop("date_mutation",axis=1)

In [38]:
# Valeurs manquantes
(~reduced_df.isna()).sum(axis=0)#/len(reduced_df)

valeur_fonciere                                        9849
lot1_surface_carrez                                     798
lot2_surface_carrez                                     207
lot3_surface_carrez                                      15
lot4_surface_carrez                                       2
lot5_surface_carrez                                       1
nombre_lots                                           10000
code_type_local                                        5589
surface_reelle_bati                                    4131
nombre_pieces_principales                              5581
surface_terrain                                        6857
longitude                                              9684
latitude                                               9684
code_nature_culture_AB                                10000
code_nature_culture_AG                                10000
code_nature_culture_B                                 10000
code_nature_culture_BF                                10000
code_nature_culture_BM                                10000
code_nature_culture_BP                                10000
code_nature_culture_BR                                10000
code_nature_culture_BS                                10000
code_nature_culture_BT                                10000
code_nature_culture_CA                                10000
code_nature_culture_CH                                10000
code_nature_culture_E                                 10000
code_nature_culture_J                                 10000
code_nature_culture_L                                 10000
code_nature_culture_LB                                10000
code_nature_culture_P                                 10000
code_nature_culture_PA                                10000
code_nature_culture_PC                                10000
code_nature_culture_PE                                10000
code_nature_culture_PH                                10000
code_nature_culture_PP                                10000
code_nature_culture_S                                 10000
code_nature_culture_T                                 10000
code_nature_culture_VE                                10000
code_nature_culture_VI                                10000
nature_mutation_Adjudication                          10000
nature_mutation_Echange                               10000
nature_mutation_Expropriation                         10000
nature_mutation_Vente                                 10000
nature_mutation_Vente en l'état futur d'achèvement    10000
nature_mutation_Vente terrain à bâtir                 10000
year_mutation                                         10000
dtype: int64

In [39]:
final_df = reduced_df.fillna(reduced_df.mean())

In [21]:
# split

y = final_df.valeur_fonciere
X = final_df.drop("valeur_fonciere",axis=1)

In [22]:
# Normalisation

from sklearn.preprocessing import MinMaxScaler

cols = list(final_df.columns.values)
cols.remove("valeur_fonciere")
final_df[cols] = MinMaxScaler().fit_transform(final_df[cols])

In [25]:
# Entraînement
(final_df.isna()).sum(axis=0)#/len(reduced_df)

valeur_fonciere                                       0
lot1_surface_carrez                                   0
lot2_surface_carrez                                   0
lot3_surface_carrez                                   0
lot4_surface_carrez                                   0
lot5_surface_carrez                                   0
nombre_lots                                           0
code_type_local                                       0
surface_reelle_bati                                   0
nombre_pieces_principales                             0
surface_terrain                                       0
longitude                                             0
latitude                                              0
code_nature_culture_AB                                0
code_nature_culture_AG                                0
code_nature_culture_B                                 0
code_nature_culture_BF                                0
code_nature_culture_BM                                0
code_nature_culture_BP                                0
code_nature_culture_BR                                0
code_nature_culture_BS                                0
code_nature_culture_BT                                0
code_nature_culture_CA                                0
code_nature_culture_CH                                0
code_nature_culture_E                                 0
code_nature_culture_J                                 0
code_nature_culture_L                                 0
code_nature_culture_LB                                0
code_nature_culture_P                                 0
code_nature_culture_PA                                0
code_nature_culture_PC                                0
code_nature_culture_PE                                0
code_nature_culture_PH                                0
code_nature_culture_PP                                0
code_nature_culture_S                                 0
code_nature_culture_T                                 0
code_nature_culture_VE                                0
code_nature_culture_VI                                0
nature_mutation_Adjudication                          0
nature_mutation_Echange                               0
nature_mutation_Expropriation                         0
nature_mutation_Vente                                 0
nature_mutation_Vente en l'état futur d'achèvement    0
nature_mutation_Vente terrain à bâtir                 0
year_mutation                                         0
dtype: int64